@keyframes example {
    0% {background-color:blue; top:0; left:200;}
    25% {background-color: red; top:200; left:0;}
    50% {background-color:white; top:200; left:200;}
    75% {background-color:blue; top:200; left:0;}
    100% {background-color:red; top:0; left:0;}
}

.square {
    height: 150px;
    width: 150px;
    background-color: red;
    position: absolute;
    animation-name: example;
    animation-duration: 4s;
}