@keyframes example {
    0% {background-color:blue; top:0; left:200px;}
    25% {background-color: red; top:200px; left:0;}
    50% {background-color:white; top:200px; left:200px;}
    75% {background-color:blue; top:200px; left:0;}
    100% {background-color:red; top:0; left:0;}
}

.square {
    height: 150px;
    width: 150px;
    background-color: blue;
    position: relative;
    animation-name: example;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}